.envira-gallery-wrap {
	&.envira-gallery-theme-lsx-staggered-columns {
		.envira-album-public,
		.envira-gallery-public {
			.envira-gallery-item {
				clear:none !important;

				&.staggered-column-3 {
					width:33.33%;
				}
				&.staggered-column-2 {
					width:50%;
				}
				&.staggered-column-1 {
					width:100%;

					img {
						width: 60%;
					}
				}
			}
		}

		.envira-gallery-item:hover {
			opacity: .5;
		}
		.envira-gallery-captioned-data,
		.envira-album-title,
		.envira-album-caption {
			background: #f7f7f8;
			padding: 10px;
			border: 1px solid #e7e7e8; 
			border-top: 0 none;
			position: relative;
			clear: both;
		}
		.envira-album-caption {
			margin-top:  0;
			border:  0;
		}
		.envira-album-title {
			margin-top:  0;
			margin-bottom: 0;
			border:  0;
		}
		.envira-gallery-captioned-text {
			margin: 0;
			text-align: center;
			color: #000;
			p {
				margin: 0;
				padding: 0;
			}
		}
	}

	.envira-album-public,
	.envira-gallery-public {
		.envira-gallery-item {
			&.see-more-hidden {
				display:none;
			}

			&.see-more-item {

				a {
					&:hover {
						&::after {
							background:rgba(0,0,0,0.5);
							content: attr(data-see-more);
							position: absolute;
							text-align: center;
							top: 0;
							bottom: 0;
							color: #fff;
							font-size: 24px;
							width: 100%;
							padding-top: 32%;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}